* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  }

body {
 background: url('images/OIP.jpg OIP.jpg') no-repeat center center fixed;
  background-size: cover;
  color: #333;
}

/* Header */
.header {
background: #8B4513;
color: white;
padding: 15px;
text-align: center;
}

.menu {
list-style: none;
display: flex;
justify-content: center;
gap: 20px;
margin-top: 10px;
}

.menu a {
color: white;
text-decoration: none;
}

/* Hero */
.hero {
background: #deb887;
text-align: center;
padding: 40px 20px;
}

/* Produtos */
.produtos {
padding: 30px;
text-align: center;
}

.botoes-categorias {
margin: 20px 0;
}

.botoes-categorias button {
margin: 5px;
padding: 10px 15px;
border: none;
background: #8B4513;
color: white;
cursor: pointer;
}

.grid-produtos {
display: grid;
grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
gap: 20px;
}

.card {
background: white;
padding: 20px;
border-radius: 10px;
}

/* Sobre */
.sobre {
padding: 30px;
background: #fff3e0;
text-align: center;
}

/* Delivery */
.delivery {
padding: 30px;
text-align: center;
}

.btn-whatsapp {
display: inline-block;
margin-top: 15px;
padding: 12px 20px;
background: #25D366;
color: white;
text-decoration: none;
border-radius: 5px;
}

/* Footer */
.footer {
background: #8B4513;
color: white;
text-align: center;
padding: 15px;
margin-top: 20px;
}

